# Curso de Python
## Hola mundo
Estoy escribiendo texto en **Markdown**

In [ ]:
print('Hola mundo')

Hola mundo

## Variables

In [ ]:
# Asigno el valor 5 a una variable
x = 5   # número entero: int
print(x)
type(x)

5

int

In [ ]:
importe = 12.78   # número de tipo flotante 'float'  es un número con decimales
print(type(importe))
print(importe)

<class 'float'>
12.78

In [ ]:
nombre = "Luis"   # cadena alfanumérica, string 'str'
print(nombre)
type(nombre)

Luis

str

## Operaciones aritméticas básicas

In [ ]:
a = 2
b = 3
print("Suma:", a+b)
print("Producto:", a*b)
print("Cociente:", a/b)   # La división siempre da un float
print("Módulo:", a % b)   # Módulo, resto o resíduo
print("Potencias:", a**b) # Elevar, potencias

Suma: 5
Producto: 6
Cociente: 0.6666666666666666
Módulo: 2
Potencias: 8

## Listas

numeros_clave, numerosclave, numerosClave. Nunca poner espacios,ñ,á en los nombres de variable

In [ ]:
numeros = [10,20,30,15]
# Las listas o arrays comienzan siempre con index cero
print("El primer elemento del array:", numeros[0])
print("El segundo elemento del array:", numeros[1])
print("El tercero elemento del array:", numeros[2])
print("El cuarto elemento del array:", numeros[3])

print("El último elemento del array:", numeros[-1])

El primer elemento del array: 10
El segundo elemento del array: 20
El tercero elemento del array: 30
El cuarto elemento del array: 15
El último elemento del array: 15

In [ ]:
ciudades = ["Madrid", "Roma", "Paris", "Londres"]
print(ciudades)

['Madrid', 'Roma', 'Paris', 'Londres']

# Condicioneles ```if```

In [ ]:
edad = 27

if edad >= 18:
    print("Ya tienes la mayoría de edad")
else:                                           # en caso contrario
    print("Aún no tienes la mayoría de edad")

print("Fin del programa")

Ya tienes la mayoría de edad
Fin del programa

In [ ]:
edad = 7   # se pone un = cuando es una asignación de una valor a una variable

if edad >= 18:
    print("Ya tienes la mayoría de edad")
elif edad == 17:    # se ponen dos == cuando es una condición
    print("Te quda muy poco para ser mayor de edad")
else:                                           # en caso contrario
    print("Aún no tienes la mayoría de edad")

print("Fin del programa")

Aún no tienes la mayoría de edad
Fin del programa

In [ ]:
5 == 5    # al evaluar la condición puede dar True o False

False

# Bucles de tipo ```for```

In [ ]:
for i in range(1,6):
    print("El cuadrado de ", i, " es ", i**2, ".", sep="")

El cuadrado de 1 es 1.
El cuadrado de 2 es 4.
El cuadrado de 3 es 9.
El cuadrado de 4 es 16.
El cuadrado de 5 es 25.

In [ ]:
# Imprimimos usando el formato f

for i in range(1,6):
    print(f"El cuadrado de {i} es {i**2}.")

El cuadrado de 1 es 1.
El cuadrado de 2 es 4.
El cuadrado de 3 es 9.
El cuadrado de 4 es 16.
El cuadrado de 5 es 25.

# VAN (Valor Actual Neto)
* NPV
* Usando la librería Numpy

In [1]:
!pip install numpy-financial

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting numpy-financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.9/dist-packages (from numpy-financial) (1.22.4)
Installing collected packages: numpy-financial
Successfully installed numpy-financial-1.0.0

In [5]:
import numpy_financial as npf

tasa = 0.05
flujos_caja = [-4000, 1400, 1300, 1200, 1100]
van = npf.npv(tasa, flujos_caja)
print(f"El VAN es: {round(van, 2)} €.")

El VAN es: 454.05 €.

## Valor Actual de una Renta pospagable

In [14]:
import numpy_financial as npf
rate = 0.08
flujos_caja = [0,1000,1000,1000,1000]
van = npf.npv(rate, flujos_caja)
print("El Valor Actual es:", round(van, 2))
va = npf.pv(rate, 4, -1000)
print(f"El Valor Actual es:", round(va, 2))
vf = npf.fv(rate, 4, -1000, 0)
print(f"El Valor Final es: {round(vf,2)}", "Este valor está redondeado a dos decimales")
print(f"El valor Final es: {round(van*(1+rate)**4, 2)}")

El Valor Actual es: 3312.13
El Valor Actual es: 3312.13
El Valor Final es: 4506.11 Este valor está redondeado a dos decimales
El valor Final es: 4506.11

## VAN y TIR

In [18]:
import numpy_financial as npf

flujos_caja = [-4000, 1400, 1300, 1200, 1100]
tir = npf.irr(flujos_caja)
print(f"La TIR es: {round(tir,4)*100} %")

La TIR es: 10.0 %

## Pago necesario para amortizar un préstamo ```pmt```

In [21]:
import numpy_financial as npf
principal = 100_000
y = 20
tin = 0.09    # tipo de interés nominal. El mensual se obtiene dividiendo entre 12
mensualidad = npf.pmt(tin/12, y*12, -principal)
print(f"La mensualidad es: {round(mensualidad, 2)} €")

La mensualidad es: 899.73 €